<link rel="stylesheet" href="/stylesheets/landing.css"/>
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1>hello, <%= user ? user.profile.name : "friend" %></h1>

<a href="/auth/logout" class="logout-btn">
  <button type="submit">Logout</button>
</a>

<h1>Friend Code: <%= profile.friendId %></h1>





<%- include('../partials/footer') %>
