<link rel="stylesheet" href="/stylesheets/elements.css">
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>



<main>
  <h1>PROFILE FOR USER SHOW PAGE HERE, <%= user ? user.profile.name : "friend" %></h1>
  
  <h1>Friend Code:</h1>
  <div>
    <%= profile.friendId ? `My friend code is + ${profile.friendId}` : 
    "" %> 
  </div>
  
<h1>Friend Code: <%= profile.friendId %></h1>
  
  <form action="/profiles/<%= profile._id %>?_method=PUT" id="friendId" method="POST">
    <label for="friendId">Friend ID:</label>
    <input type="string" id="friendId" name="friendId">
    <button type="submit">Create FriendId</button>
  </form>
  </main>


<%- include('../partials/footer') %>
