<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>friendsss</h1>

  <div>
    <a href="friends/new">click here to add a new friend.</a>
  </div>

  <% profile.friends.forEach(friend => { %>
    <!-- <% if (profile.equals(user?.profile._id)) { %> -->
        
        <div class="friend-list">
          <a class="friend-card-link" href="/friends/<%= friend._id %>"> <%= friend.name%> </a>
          


          
        </div>
        <!-- <% } %> -->
      <% }) %>


</main>

<%- include('../partials/footer') %>
