<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="main-friend-container">

  <section class="flight-list">
    <div class="flight-list-header">
    <a href="/" class="back-btn">Go back</a>
    <h1>friendsss</h1>
    <a href="friends/new">click here to add a new friend.</a>
  </div>

  

  <% profile.friends.forEach(friend => { %>
    <% if (profile.equals(user?.profile._id)) { %>
        
        <div class="friend-list">
          <a class="friend-card-link" href="/friends/<%= friend._id %>"> 
            <div class="flight-card">
              <div class="flight-card-content">
            <%= friend.name%> 
            <%= friend._id%> 
          </a>
          </div>
        </div>


          
        </div>
        <!-- <% } %> -->
      <% }) %>

  </section>
</main>

<%- include('../partials/footer') %>
