<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>


Date:
  <%= new Date(flight.flightDate).toLocaleTimeString([], {timeStyle: "short"})%>


  index flights:
  <main>
    <h1>myFlights PAge</h1>
    
    <section class="flight-list">
      <div class="flight-card">
        <% flights.forEach(flight => { %>
          <% if (flight.owner.equals(user?.profile._id)) { %>
            <a href="/flights/<%= flight._id %>">
              
              <div class=flight-card-left>
                <span class="flight-card-date">
  
                  <%= new Date(flight.flightDate).toLocaleDateString(undefined, {
                    month: "short", day: "numeric"
                  }) %>
                  </span>
                  <span class="flight-card-logo">
                    <%= flight.airline %> 
  
                  </span>
                
              </div>
            </a>
            <% } %>
            <% }) %>
            
            
            <% flights.forEach(flight => { %>
              <div class=flight-card-mid>
                <% if (flight.owner.equals(user?.profile._id)) { %>
                  <div class="flight-card-text">Departs: </div><%= flight.departureAirport %> 
                  <%= (flight.departureTime).toLocaleDateString(undefined, {
                    hour: "numeric", minute: "numeric"
                  }).slice(-7) %>
  
                  
                </div>
                <% } %>
              <% }) %>
                
                
                <% flights.forEach(flight => { %>
                  <div class=flight-card-right>
                    <% if (flight.owner.equals(user?.profile._id)) { %>
                    <div class="flight-card-text">Arrives: </div><%= flight.arrivalAirport %> 
                    <%= (flight.arrivalTime).toLocaleDateString(undefined, {
                      hour: "numeric", minute: "numeric"
                    }).slice(-7) %> 
                    
                  </div>
                  <% } %>
          <% }) %>
      </div>