<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>


  <section>
    <a href="/myFlights">
      <button>MyFlights</button>
    </a>
    <a href="/myFriends">
    <button>MyFriends</button>
    </a>
    <a href="/myJourney">
    <button>MyJourney</button>
    </a>
  </section>

</main>

<%- include('./partials/footer') %>
