<%- include('../../partials/html-head') %>
<%- include('../../partials/nav') %>

<main class="main-friend-container">

  <section class="flight-list">
    <div class="flight-list-header">
    <a href="/" class="back-btn">
      <button>
        <img class="back-btn" src="../../../assets/back-btn.png" alt="">
      </button>
    </a>
    <h1>myFriends</h1>
    <a href="/profiles/<%= user?.profile._id %>/friends/new">click here to add a new friend.</a>

  </div>
  <h1>Friend Code: <%= profile.friendId %></h1>

  

  <% profile.friends.forEach(friend => { %>
    <% if (profile.equals(user?.profile._id)) { %>
        
        <div class="friend-list">
          <a class="friend-card-link" href="/profiles/<%= user?.profile._id %>/friends/<%= friend._id %>"> 
            <div class="flight-card">
              <div class="flight-card-content">
            <%= friend.name%> 
            <%= friend._id %>
            <%= friend.flights.airline %>  
            <% friend.flights.forEach(flight => { %>
              <%= flight.airline %> 
            <% }) %>
            <!-- <%# friend.flights%>  -->
          </a>
          </div>
        </div>


          
        </div>
        <!-- <% } %> -->
      <% }) %>

  </section>

  <section class="flight-detail-container">
    <div class="select-flight-to-view-more">
      Please select a friend to view upcoming flight details and Journey posts.
    </div>
  </section>
  
</main>

<%- include('../../partials/footer') %>
