<%- include('../../partials/html-head') %>
<%- include('../../partials/nav') %>

<main class="main-friend-container">

  <section class="flight-list">
    <div class="flight-list-header">
      <button class="back-btn" onclick="window.history.back()">
        <img class="back-btn" src="/assets/left-arrow-test.png" alt="back-btn">
      </button>
    <h1>myFriends</h1>
    <a href="/profiles/<%= user?.profile._id %>/friends/new">
      <button class="add-btn"><img class="add-btn" src="/assets/add-btn.png" alt=""></button>
    </a>

  </div>
  <h1 class="friend-code">Friend Code: <br>
    <%= profile.friendId %></h1>

  

  <% profile.friends.forEach(friend => { %>
    <% if (profile.equals(user?.profile._id)) { %>
        
        <div class="friend-list">
          <a class="friend-card-link" href="/profiles/<%= user?.profile._id %>/friends/<%= friend._id %>"> 
            <div class="flight-card">
              <div class="friend-card-content">
                <p>
                  <%= friend.name%> 

                </p>
            <p>
              <%= profile.flights.length %> upcoming flights 
            </p>

            <!-- <%# friend.flights%>  -->
          </a>
          </div>
        </div>


          
        </div>
        <!-- <% } %> -->
      <% }) %>

  </section>

  <section class="flight-detail-container">
    <div class="select-flight-to-view-more">
      Please select a friend to view upcoming flight details and Journey posts.
    </div>
  </section>
  
</main>

<%- include('../../partials/footer') %>
