<!-- <link rel="stylesheet" href="/stylesheets/landing.css"/> -->
<%- include('../../partials/html-head') %>
<%- include('../../partials/nav') %>


<main>
<h1>hello, <%= user ? user.profile.name : "friend" %></h1>
<h1>These are the deets for <%= profile.name %> </h1>

<% profile.flights.forEach(flight => { %>
  <%= flight.airline %> 
<% }) %>
<a href="/auth/logout" class="logout-btn">
  <button type="submit">Logout</button>
</a>

<h1>Friend Code: <%= profile.friendId %></h1>





<%- include('../../partials/footer') %>
