<!-- <link rel="stylesheet" href="/stylesheets/landing.css"/> -->
<%- include('../../partials/html-head') %>
<%- include('../../partials/nav') %>


<main class="main-flight-container">

  <section class="flight-list">
    <div class="flight-list-header">
    <a href="/" class="back-btn">Go back</a>
    <button onclick="window.history.back()"><img src="../../../public/assets/back-btn.png" alt=""></button>

      <h1><%= profile.name %>'s Flights</h1>

      <a href="/flights/new">
        <button class="back-btn">Add Flight</button>
      </a>
    </div>


<% profile.flights.forEach(flight => { %>
  <div class="friend-flight-card">
    <div class="flight-card-content">
    
    <div class=flight-card-left>
      <span class="flight-card-date">
        <%= new Date(flight.flightDate).toLocaleDateString(undefined, {
          month: "short", day: "numeric"
        }) %>
        </span>
        <span class="flight-card-logo">
          <%= flight.airline %> 
        </span>
      </div>
      <div class=flight-card-mid>
        <div class="flight-card-terminal">
          <%= flight.departureAirport %> 
        </div>

    <div class="flight-card-text">Departs: </div>
        <%= (flight.departureTime).toLocaleDateString(undefined, {
          hour: "numeric", minute: "numeric"
        }).slice(-7) %>
  </div>
  
  <div class=flight-card-right>
    <div class="flight-card-terminal">
      <%= flight.arrivalAirport %> 
    </div>
    <div class="flight-card-text">Arrives: </div>
          <%= (flight.arrivalTime).toLocaleDateString(undefined, {
            hour: "numeric", minute: "numeric"
          }).slice(-7) %> 
      </div>
    </div>
  </div>
<% }) %>

  </section>

  <section class="detail-cards-right">

    <% profile.journeys.forEach(journey => { %>
      <section class="flight-detail-container">
        <div >
          <div class="friend-journey-date">
            <%= new Date(journey.journeyDate).toLocaleDateString(undefined, {
              month: "short", day: "numeric"
            }) %> 
          </div>
          <div class="friend-journey-post">
            <%= journey.journeyPost %> 
          </div>
        </div>
      </section>
      <% }) %>
      
    </section>



<%- include('../../partials/footer') %>
