<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

  <h1>Edit a new Journey</h1>

  <form action="/journey/<%= journey._id %>?_method=PUT" id="edit-journey" method="POST">
    <label for="journeyDate">Date: <%= journey.journeyDate %></label>
    <input type="date" value="<%= journey.journeyDate %>"  id="journeyDate" name="journeyDate">

    <label for="journeylPost">Journey Post:</label>
    <input type="string" value="<%= journey.journeyPost %> " id="new-journey" name="journeyPost">

    <button type="submit">Update MyJourney</button>

  </form>

  <a href="/journey" class="back">Go back</a>


</main>

<%- include('../partials/footer') %>
