<link rel="stylesheet" href="/stylesheets/elements.css">
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="main-journey-container">
  
  <section class="journey-list">
    <h1>myJourney</h1>
  
    <a href="/profile/new">Check out your Journey's</a>
    <% journeys?.forEach(journey => { %>
      <% if (journeys.owner.equals(user?.profile._id)) { %>
        <div class="journey-card">
          <a href="/journey/<%= journey._id %>">
            
            <div class=journey-card-left>
              <%= journey.owner.profile%> 
              <%= new Date(journey.journeyDate).toLocaleDateString(undefined, {
                month: "short", day: "numeric"
              }) %>
              <div class="journey-card-right">

                <%= journey.journeyPost %> 
              </div>
              
            </div>
          </a>
        </div>
          <% } %>
          <% }) %>
          
        

  </section>

  <section class="flight-detail-container">
    <div class="select-flight-to-view-more">
      Please select a Journey to view addtional detials.
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
