<link rel="stylesheet" href="/stylesheets/elements.css">
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="main-new-flight-container">

  <div class="new-flight-card">
    <div class="edit-flight-top">

      <button class="back-btn" onclick="window.history.back()">
        <img class="back-btn" src="/assets/left-arrow-test.png" alt="back-btn">
      </button>
      <h1>Edit Flight Details</h1>
      <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
        <button class="delete-btn">
          <img class="delete-btn" src="/assets/trash.png" alt="delete-btn">
        </button>
      </form>
    </div>

    <form action="/flights/<%= flight._id %>?_method=PUT" id="edit-flight" method="POST">
      <label for="flight-date">Date: <%= new Date(flight.flightDate).toLocaleDateString()%> </label>
      <input type="date" value="<%= new Date(flight.flightDate).toLocaleDateString('en-CA') %>" id="flight-date"
        name="flightDate" required>

      <label for="flight-no">Flight Number:</label>
      <input type="number" value="<%= flight.flightNo %>" id="flight-no" name="flightNo">

      <label for="airline">Airline:</label>
      <select id="airline" name="airline">
        <option value="" disabled selected hidden>
          <%= flight.airline %>
        </option>
        <option value="American Airlines">American Airlines</option>
        <option value="Delta Air Lines">Delta Air Lines</option>
        <option value="United Airlines">United Airlines</option>
        <option value="Southwest Airlines">Southwest Airlines</option>
        <option value="Alaska Airlines">Alaska Airlines</option>
        <option value="JetBlue">JetBlue</option>
        <option value="Spirit Airlines">Spirit Airlines</option>
        <option value="Frontier Airlines">Frontier Airlines</option>
        <option value="Hawaiian Airlines">Hawaiian Airlines</option>
      </select>

      <label for="departure-airport">Departing:</label>
      <input type="text" value="<%= flight.departureAirport %>" id="departure-airport" name="departureAirport">

      <label for="arrival-airport">Arriving:</label>
      <input type="text" value="<%= flight.arrivalAirport %>" id="arrival-airport" name="arrivalAirport">

      <label for="departure-time">Departing Time: <%= new Date(flight.departureTime).toLocaleTimeString([],
          {timeStyle: 'short' })%> </label>
      <input type="datetime-local" id="departure-time" value="<%= flight.departureTime %>" required
        name="departureTime">

      <label for="departure-Terminal">Departing Terminal:</label>
      <input type="text" value="<%= flight.departureTerminal %>" required id="departure-time"
        name="departureTerminal">

      <label for="arrival-time">Arrival Time: <%= new Date(flight.arrivalTime).toLocaleTimeString([],
          {timeStyle: 'short' })%> </label>
      <input type="datetime-local" id="arrival-time" required name="arrivalTime">

      <label for="arrival-Terminal">Arriving Terminal:</label>
      <input type="text" value="<%= flight.arrivalTerminal %>" required id="arrival-Terminal"
        name="arrivalTerminal">

      <div class="bottom-edit">Update MyFlight
        <button type="submit" class="add-btn"><img class="add-btn" src="/assets/add-btn.png" alt=""></button>
      </div>
    </form>

  </div>
</main>


<%- include('../partials/footer') %>