<link rel="stylesheet" href="/stylesheets/elements.css">
<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 



<main>
  <h1>myFlights PAge</h1>
  
  <section class="flight-list">
    <div class="flight-card">
      <% flights.forEach(flight => { %>
        <a href="/flights/<%= flight._id %>">

          <div class=flight-card-left>
            <%= flight.flightDate %> 
            <%= flight.airline %> 
            
          </div>
        </a>
        <% }) %>

        
      <% flights.forEach(flight => { %>
        <div class=flight-card-mid>
          <%= flight.departureAirport %> 
          <%= flight.departureTime %> 
          
        </div>
        <% }) %>

        
      <% flights.forEach(flight => { %>
        <div class=flight-card-right>
          <%= flight.arrivalAirport %> 
          <%= flight.arrivalTime %> 
          
        </div>
        <% }) %>
    </div>

  </section>


  <a href="/flights/new">
    <button>Add Flight</button>
  </a>

  <a href="/" class="back">Go back</a>

</main>

<%- include('../partials/footer') %>
