<link rel="stylesheet" href="/stylesheets/elements.css">
<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>



    <main class="main-flight-container">


      <section class="flight-list">
        <div class="flight-list-header">
          <button class="back-btn" onclick="window.history.back()">
            <img class="back-btn" src="/assets/left-arrow-test.png" alt="back-btn">
          </button>

          <h1>myFlights</h1>

          <a href="/flights/new">
            <button class="add-btn"><img class="add-btn" src="/assets/add-btn.png" alt=""></button>
          </a>
        </div>
        <% flights.sort((a, b)=> new Date(a.flightDate) - new Date(b.flightDate)) %>
          <% flights.forEach(flight=> { %>
            <% if (flight.owner.equals(user?.profile._id)) { %>
              <a class="flight-card-link" href="/flights/<%= flight._id %>">
                <div class="flight-card">
                  <div class="flight-card-content">

                    <div class=flight-card-left>
                      <span class="flight-card-date">

                        <%= new Date(flight.flightDate).toLocaleDateString(undefined, { month: "short" , day: "numeric"
                          }) %>
                      </span>

                      <span class="flight-card-logo">
                        <%= flight.airline %>
                      </span>
                    </div>
                    <div class=flight-card-mid>
                      <div class="flight-card-terminal">
                        <%= flight.departureAirport %>
                      </div>

                      <div class="flight-card-text">Departs: </div>
                      <%= (flight.departureTime).toLocaleDateString(undefined, { hour: "numeric" , minute: "numeric"
                        }).slice(-7) %>
                    </div>

                    <div class=flight-card-right>
                      <div class="flight-card-terminal">
                        <%= flight.arrivalAirport %>
                      </div>
                      <div class="flight-card-text">Arrives: </div>
                      <%= (flight.arrivalTime).toLocaleDateString(undefined, { hour: "numeric" , minute: "numeric"
                        }).slice(-7) %>
                    </div>
                  </div>
              </a>
              </div>
              <% } %>
                <% }) %>
                  </div>
      </section>


      <section class="flight-detail-container">
        <div class="select-flight-to-view-more">
          Please select a flight to view addtional detials.
        </div>
      </section>

    </main>

    <%- include('../partials/footer') %>